@model PalRaiserMVC.Models.AppUser

<br />
<h2 class="text-info">@(Model.UserName)'s Profile</h2>
<br />

<div class="border container" style="padding:30px;">
    <div class="form-group row">
        <div class="col-3">
            <label asp-for="CreatedAt">Joined:</label>
        </div>
        <div class="col-6">
            <label asp-for="CreatedAt">@(Model.CreatedAt)</label>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-3">
            <label asp-for="LastLogin">Last Login:</label>
        </div>
        <div class="col-6">
            <label asp-for="LastLogin">@(Model.LastLogin)</label>
        </div>
    </div>
    @if (Model.Birthday != null)
    {
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Birthday">Birthday: </label>
            </div>
            <div class="col-6">
                <label asp-for="Birthday">@(Model.Birthday)</label>
            </div>
        </div>
    }
    @if (Model.Gender != null)
    {
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Gender">Gender: </label>
            </div>
            <div class="col-6">
                <label asp-for="Gender">@(Model.Gender)</label>
            </div>
        </div>
    }
    <div class="form-group row">
        <div class="col-3">
            <a asp-area="" asp-controller="Posts" asp-action="Index" class="btn btn-info">
                See @(Model.UserName)'s Posts
            </a>
        </div>
        <div class="col-6">

        </div>
    </div>
    @*@if (Model.UserId != HttpContextAccessor.HttpContext.Session.GetInt32("currentUser"))
        {
            //Send Request
        }
        @if (Model.UserId == HttpContextAccessor.HttpContext.Session.GetInt32("currentUser"))
        {
            //Received Requests
        }*@

    <br />
    <h2 class="text-info">@(Model.UserName)'s Profile</h2>
    <br />
    <div class="col-12 border p-3">
        <table id="DT_load" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Raised</th>
                    <th>Likes</th>
                    <th>Dislikes</th>
                    <th>Reports</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/userProjects2.js"></script>
}
