@model PalRaiserMVC.Models.Project

<h2 class="text-info">@(Model.ProjName)</h2>
<br />

<div class="border container" style="padding:30px;">
    <div class="form-group row">
        <div class="col-3">
            <label asp-for="Type">Type:</label>
        </div>
        <div class="col-6">
            <label asp-for="Type">@(Model.Type)</label>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-3">
            <label asp-for="Summary">Summary:</label>
        </div>
        <div class="col-6">
            <label asp-for="Summary">@(Model.Summary)</label>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-3">
            <label asp-for="About">About:</label>
        </div>
        <div class="col-6">
            <label asp-for="About">@(Model.About)</label>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-3">
            <label asp-for="AmountRaised">Amount Raised So Far:</label>
        </div>
        <div class="col-6">
            <label asp-for="AmountRaised">@(Model.AmountRaised)</label>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-5">
            @*Fund*@
        </div>
        <div class="col-5">
            @*Report*@
        </div>
    </div>

    <div class="form-group row">
        <div class="col-5">
            @*Like*@
        </div>
        <div class="col-5">
            @*Dislike*@
        </div>
    </div>

    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if (Model.Updates.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            <label asp-for="Updates.FirstOrDefault().Title"> Update Title </label>
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(m=>m.Projects.FirstOrDefault().Summary)*@
                            <label asp-for="Updates.FirstOrDefault().Date"> Date </label>
                        </th>
                        <th>
                            <label asp-for="Updates.FirstOrDefault().Description"> Description </label>
                        </th>
                        <th>

                        </th>
                    </tr>
                    @foreach (var item in Model.Updates)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Description)
                            </td>
                            <td>
                                @*<button asp-page-handler="Delete" asp-route-id="@item.ProjId" onclick="return confirm('Are you sure you want to delete this project?')" class="btn btn-danger btn-sm">Delete</button>
                                    <a asp-page="EditProj" asp-route-id="@item.ProjId" class="btn btn-success btn-sm text-white">Edit</a>*@
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>No updates found.</p>
            }
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}