@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@model PalRaiserMVC.Models.Project

<h2 class="text-info">@Html.DisplayFor(m => m.ProjName)</h2>
<br />

<div class="border container" style="padding:30px;">
    @if (@HttpContextAccessor.HttpContext.Session.GetInt32("canEditProj") == 1)
    {
        <div class="form-group row">
            <div class="col-4">
                <a asp-action="UpsertProj" asp-route-id="@(Model.ProjectId)" class="btn btn-success btn-sm text-white">Edit Project</a>
            </div>
            <div class="col-4">
                <a asp-action="DeleteProj" asp-route-id="@(Model.ProjectId)" onclick="return confirm('Are you sure you want to delete the project?')" class="btn btn-danger btn-sm">Delete Project</a>
            </div>
        </div>
    }

    <div class="form-group row">
        <div class="col-3">
            <label asp-for="Publisher.UserName">Publisher:</label>
        </div>
        <div class="col-6">
            <label asp-for="Publisher.UserName">@Html.DisplayFor(m => m.Publisher.UserName)</label>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-3">
            <label asp-for="Type">Type:</label>
        </div>
        <div class="col-6">
            <label asp-for="Type">@Html.DisplayFor(m => m.Type)</label>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-3">
            <label asp-for="Summary">Summary:</label>
        </div>
        <div class="col-6">
            <label asp-for="Summary">@Html.DisplayFor(m => m.Summary)</label>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-3">
            <label asp-for="About">About:</label>
        </div>
        <div class="col-6">
            <label asp-for="About">@Html.DisplayFor(m => m.About)</label>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-3">
            <label asp-for="AmountRaised">Amount Raised So Far:</label>
        </div>
        <div class="col-6">
            <label asp-for="AmountRaised">@Html.DisplayFor(m => m.AmountRaised)</label>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-6">
            <a asp-area="" asp-controller="Goals" asp-action="Index" class="btn btn-success">
                See Fundraiser Goals
            </a>
        </div>
        <div class="col-3">

        </div>
    </div>
    <div class="form-group row">
        <div class="col-6">
            <a asp-area="" asp-controller="Reports" asp-action="Index" class="btn btn-danger">
                See Reports (@(Model.ReportCount))
            </a>
        </div>
        <div class="col-3">

        </div>
    </div>
    <div class="form-group row">
        <div class="col-6">
            <a asp-area="" asp-controller="Updates" asp-action="Index" class="btn btn-info">
                See News and Updates
            </a>
        </div>
        <div class="col-3">

        </div>
    </div>
    <div class="form-group row">
        <div class="col-6">
            <a asp-area="" asp-controller="Topics" asp-action="Index" class="btn btn-warning">
                See Discussions
            </a>
        </div>
        <div class="col-3">

        </div>
    </div>

    <div class="form-group row">
        <div class="col-3">
            <a asp-area="" asp-controller="Projects" asp-action="ToggleLikeProj" asp-route-id="@(Model.ProjectId)" class="btn btn-success btn-sm"> Like (@(Model.LikeCount))</a>
        </div>
        <div class="col-3">
            <a asp-area="" asp-controller="Projects" asp-action="ToggleDislikeProj" asp-route-id="@(Model.ProjectId)" class="btn btn-danger btn-sm"> Dislike (@(Model.DislikeCount))</a>
        </div>
        @*<div class="col-3">
            <a asp-area="" asp-controller="Projects" asp-action="RemoveProjRating" asp-route-id="@(Model.ProjectId)" class="btn btn-danger btn-sm"> Remove Rating</a>
        </div>*@
    </div>

</div>

@*@section Scripts {
    <script src="~/js/DeleteItem.js"></script>
}*@