@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@model PalRaiserMVC.Models.Project

<h2 class="text-info">@(Model.ProjName)</h2>
<br />

<div class="border container" style="padding:30px;">
    @if (@HttpContextAccessor.HttpContext.Session.GetInt32("canEdit") == 1)
    {
        <div class="form-group row">
            <div class="col-3">

            </div>
            <div class="col-3">
                <a asp-page="UpsertProj" asp-route-id="@Model.ProjectId" class="btn btn-success btn-sm text-white">Edit</a>
            </div>
            <div class="col-3">
                <button asp-page-handler="Delete" asp-route-id="@Model.ProjectId" class="btn btn-danger btn-sm">Delete</button>
            </div>
        </div>
    }

    <div class="form-group row">
        <div class="col-3">
            <label asp-for="Type">Type:</label>
        </div>
        <div class="col-6">
            <label asp-for="Type">@(Model.Type)</label>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-3">
            <label asp-for="Summary">Summary:</label>
        </div>
        <div class="col-6">
            <label asp-for="Summary">@(Model.Summary)</label>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-3">
            <label asp-for="About">About:</label>
        </div>
        <div class="col-6">
            <label asp-for="About">@(Model.About)</label>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-3">
            <label asp-for="AmountRaised">Amount Raised So Far:</label>
        </div>
        <div class="col-6">
            <label asp-for="AmountRaised">@(Model.AmountRaised)</label>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-3">
            <a asp-area="" asp-controller="Goals" asp-action="Index" class="btn btn-success">
                See Fundraiser Goals
            </a>
        </div>
        <div class="col-6">

        </div>
    </div>
    <div class="form-group row">
        <div class="col-3">
            <a asp-area="" asp-controller="Reports" asp-action="Index" class="btn btn-danger">
                See Reports (@(Model.ReportCount))
            </a>
        </div>
        <div class="col-6">

        </div>
    </div>
    <div class="form-group row">
        <div class="col-3">
            <a asp-area="" asp-controller="Updates" asp-action="Index" class="btn btn-danger">
                See News and Updates
            </a>
        </div>
        <div class="col-6">

        </div>
    </div>

    <div class="form-group row">
        <div class="col-5">
            @*Like*@
        </div>
        <div class="col-5">
            @*Dislike*@
        </div>
    </div>

</div>

@section Scripts {
    <script src="~/js/DeleteItem.js"></script>
}